*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f4f3ef;
}

#main{
    height: 100%;
    width: 100%;
    
}

nav{
    height: 440px;
    padding: 60px 66px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-top: -26px;
    margin-left: -100px;
    position: fixed;
    width: 100%;
    gap: 6px;
}

#nav-part1>button{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #1e1e20;
    border-radius: 50px;
    padding: 14px 20px;
    border: none;
}
#header-h1{
    font-size: 140px;
    font-weight: 600;
    line-height: 137px;
    letter-spacing: -7px;
    color: #1e1e21;
    width: 80%;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}
#nav-part2 h3{
    font-size: 26px;
    font-weight: 600;
    color: #1e1e21;
}
#nav-part2 h3>i{
    font-size: 36px;
    font-weight: 600;
}

#hero-img{
    height: 88%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp);
    background-size: cover;
}

#about{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}
#about>h2{
    font-size: 80px;
    font-weight: 600;
    line-height: 86px;
    width: 60%;
    color: #1e1e21;
}
#about-part2{
    width: 36%;
    height: 100%;
    padding: 0 60px;
    border-left: 1px solid #1e1e21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h4{
    font-size: 27px;
    font-weight: 600;
    color: #1e1e21;
}
#icons i{
    background-color: #1e1e20;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 10px;
}

#work{
    /* height: 55%; */
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #1e1e21;
    border-bottom: 3px solid #1e1e21;
    margin: 0 70px;
    padding: 50px 0px;
}
#work-part1{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    font-weight: 600;
    color: #1e1e21;
    width: 34%;
    padding-right: 50px;
    border-right: 0px solid #1e1e21;
}
#work-part2{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px; 
    border-left: 2px solid #1e1e21;
}
.work-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}
.work-part:nth-child(1){
    border-bottom: 2px solid #1e1e21;
    padding-top: 0;
}
.elem{
    width: 50%;
    height: 100%;
}
.elem:nth-child(1){
    border-right: 2px solid #1e1e21;
    padding-right: 30px;
}
.elem:nth-child(2){
    padding-left: 30px;
}

.elem h4{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.elem p{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
}

#section{
    display: flex;
    padding: 20px 0;
}
#section h5{
    font-size: 150px;
    font-weight: 600;
}

#section-img1{
    height: 90%;
    width: 100%;
    background-image: url(https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad0d8364135d4087b9c8_project-01-p-1600.webp);
    background-size: cover;
}

#cam{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
}
#cam h3{
    font-size: 134px;
    font-weight: 600;
}
#cam-part2{
    width: 42%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#cam-part2 p{
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
}
#cam-part2 button{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #1e1e20;
    border-radius: 50px;
    padding: 10px 18px;
    border: none;
}

#section-img2{
    height: 90%;
    width: 100%;
    background-image: url(https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad129d3885d86c115c7f_project-02-p-1600.webp);
    background-size: cover;
}
#section-img3{
    height: 90%;
    width: 100%;
    background-image: url(https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad1988b7ca338942d0b3_project-03-p-1600.webp);
    background-size: cover;
}
/* review img */
.elem-part{
    padding-top: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.elem-part img{
    width: 60px;
    border-radius: 100px;
}
.elem-part-text>p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
    color: black;
}
.elem-part-text>p:nth-child(2){
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7; 
    color: gray;   
}

#footer{
    margin-top: -5px;
    background-color: #1e1e21;
    color: #fff;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer h4{
    font-size: 27px;
    font-weight: 600;
}
#footer h2{
    font-size: 137px;
    font-weight: 600;
    padding-bottom: 40px;
}
#footer button{
    background-color: #fff;
    color: #1e1e21;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 22px;
    border-radius: 50px;
}